@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');


body{
    background-color: #d0ceba;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.logo{
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

div{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #124559;
    color: white;
}

header{
    background-color: #598392;
}

.home-title{
    color: #124559;
    font-family: "Rock Salt", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.book, .join{
    background-color: #d0ceba;
    color: #124559;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #598392;
    color: #124559;
}

.card-img {
    border: 10px solid #000000;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

#hero-img{
    width: 100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

.msg{
    background-color: #d0ceba;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color:#124559;
}

.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #d7be82;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size: 1.2em;
}

footer a{
    color:#124559;
    text-decoration: none;
}

footer a:hover{
    color: #124559;
}

footer a p:hover {
    text-decoration: underline;
}

.social img {
    padding-top: 15px;
}

#background{
    height: 725px;
    background-color: #d7be82;
}
